body {
    font-family: 'Montserrat', sans-serif;
    color: #333; /* sets font color to all text */
    margin: 0; /* removes default margin */
    padding: 0; /* removes default padding */
}

.banner {
    background-color: #fbebac; /* background color for banner */
    text-align: center;
    padding: 20px 0 50px 0; /* padding: top right bottom left */
    font-size: 1.5rem; /* h1 font size */
}

.banner img {
    max-width: 100%; /* image within the banner won't exceed container width */
}

.details {
    display: flex;
    justify-content: space-around; /* centers elements horizontally; distributes elements evenly */
    padding: 50px; /* padding: top */
}

.ingredients, .method {
    flex-basis: 45%; /* sets width for ingredients and method section */
    background-color: #f9f7f3;
    padding: 20px;
    border-radius: 10px; /* adds rounded corners */
}

/* List styles */

ul, ol { /* unordered list, ordered list */
    margin: 0; /* removes default margin */
    padding: 0; /* removes default padding */
}

ul li, ol li {
    list-style-type: none; /* removes default list style; to custom output */
    margin-bottom: 10px; /* adds bottom margin to list items */
}

.ingredients ul {
    list-style: disc; /* bulletpoints for unordered list */
    padding-left: 20px; /* indention */
}

.ingredients ul li::before {
    content: "\2022"; /*unicode for bulletpoints; 'content' to put before each list items*/
    font-weight: bold;
    display: inline-block; /* displays bulletpoint as a block element */
    width: 1em; /* width of the bulletpoint */
}

.method ol {
    counter-reset: list; /* resents counter for ordered list; since default list style is removed */
}

.method ol li {
    counter-increment: list; /* increases counter value */
    margin-bottom: 10px;
}

.method ol li:before {
    content: counter(list) '.'; 
    font-weight: bold; 
    margin-right: 10px; 
}

.photos {
    display: flex;
    flex-direction: row; /* arranges photos horizontally */
    flex-wrap: wrap; /* allows photos to wrap to next line */
    justify-content: center; /* centers photos */
}

.photo { /* initial width for container */
    width: 25%;
    max-width: 300px;
    margin: 10px;
}

.photo img { /* fits photos within their container */
    width: 100%;
    height: auto; /* maintains aspect ratio; to avoid photos being distorted or stretched */
    border-radius: 5px;  /* adds rounded corners */
}

.video { /* background of video */
    text-align: center;
    margin-top: 50px;
    background-color: #fbebac;
    padding: 20px 0 50px 0; /* padding on top right bottom left*/
}

.video video {
    max-width: 100%;
    height: auto; /* maintains aspect ratio; to avoid video being distorted or stretched */
    border-radius: 5px; /* adds rounded corners */
}

footer {
    background-color: #f9f7f3; /* background color for footer */
    padding: 20px; /* padding on top */
}