body {
    font-family: 'Montserrat', sans-serif; /* text inside body will all be montserrat */
    display: flex; /*flexbox for layout to easily align and position elements*/
    background-image: url(background.jpg); /*sets background image*/
    background-repeat: no-repeat; /*prevents background image from repeating*/
    background-size:cover; /*image to cover entire backgorund*/
    justify-content: center; /*centers contents*/
}

header { /*style header*/
    text-align: center; /*center aligns text*/
    margin-top: 150px; 
    width: 100%; /*makes header span the entire width of its container*/
    position: fixed; /*remains in place when scrolling*/
    background-color: #0A7FD1;
    box-shadow: 0 2px 4px rgb(89, 89, 89); /*shadow effect*/
    max-width: 660px; /*limits the maximum width of the header to 660 pixels*/
    color: white; /*text color*/
    border: 3px solid rgb(207, 50, 50); /*border around the header; color of the border*/
}

.calculator { /*style calculator section*/
    background-color: rgb(255, 255, 255, 0.7); /*semi transparent white background*/
    padding: 20px;
    box-shadow: 0 2px 4px rgb(89, 89, 89);
    margin-top: 250px;
    position: fixed;
}

button { /*style button*/
    background-color: #77C522;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgb(89, 89, 89);
}

button:hover {
    background-color: #EDA912; /*change background colour of buttons on hover*/
}
